.label {
  cursor: pointer;

  display: flex;
  gap: var(--space-xs-fixed);
  align-items: center;

  width: fit-content;

  color: white;

  input {
    --dot-size: 0;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--radio-size);
    height: var(--radio-size);
    border-radius: 50%;

    appearance: none;
    background: white;

    /* dot */
    &::after {
      content: '';

      display: block;

      width: var(--dot-size);
      height: var(--dot-size);
      border-radius: 50%;

      background: black;
    }

    &:checked {
      --dot-size: var(--radio-dot-size);

      background: var(--primary-50);
    }

    &:focus-visible {
      outline: 2px solid var(--focus-outline-color);
    }
  }

  &:hover input:not(:checked) {
    --dot-size: var(--radio-dot-hover-size);

    background: var(--primary-20);
  }
}
