.nav {
  & .label {
    margin-bottom: var(--space-lg);
  }

  & .links {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xs-fixed);
    margin-bottom: var(--space-3xl-fixed);
  }
}

.questionnaire {
  max-width: 900px;

  & .header {
    display: flex;
    align-items: center;
  }

  & .header-left {
    flex: 1;
  }

  & .title {
    color: var(--primary-50);
  }

  & .total-score {
    font-weight: 600;
    color: var(--gray-50);
  }
}

.question {
  margin-top: var(--space-2xl-fixed);

  & .question-number {
    margin-bottom: var(--space-md);
  }

  & .question-text {
    margin-bottom: var(--space-lg);
  }

  & hr {
    border: none;
    border-top: 1px solid var(--gray-20);
  }
}

.answer {
  display: flex;
  gap: var(--space-md);
  align-items: center;
  margin-bottom: var(--space-2xl-fixed);

  & .score {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    width: var(--icon-button-size);
    height: var(--icon-button-size);
    border-radius: 50%;

    /* TODO: Unify with the rating buttons */
    font:
      bold var(--font-size-lg)/1 var(--title-font),
      sans-serif;
    color: var(--gray-90);

    background: var(--primary-50);
  }

  & .follow-up-label {
    margin-bottom: var(--space-xxs-fixed);
    font-weight: 600;
  }
}
