.button {
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-family: var(--title-font);
  font-weight: bold;

  &:disabled,
  &[aria-disabled='true'] {
    pointer-events: none;
    opacity: 0.4;
  }
}

.primary {
  border: none;
  color: var(--gray-90);
  background-color: var(--primary-50);

  &:hover:not(:disabled, [aria-disabled='true']) {
    background-color: var(--primary-20);
  }
}

.secondary {
  border: 1px solid white;
  color: white;
  background-color: transparent;

  &:hover:not(:disabled, [aria-disabled='true']) {
    border-color: transparent;
    background-color: var(--gray-60);
  }
}

.small {
  gap: 0.5rem; /* 8px */

  height: 1.75rem; /* 28px */
  padding: 0 1rem; /* 16px */
  border-radius: 0.25rem; /* 4px */

  font-size: 0.75rem; /* 12px */
}

.medium {
  gap: 0.75rem; /* 12px */

  height: 2.375rem; /* 38px */
  padding: 0 1.25rem; /* 20px */
  border-radius: 0.5rem; /* 8px */

  font-size: 0.875rem; /* 14px */
}

.large {
  gap: 1rem; /* 16px */

  height: 3.125rem; /* 50px */
  padding: 0 1.5rem; /* 24px */
  border-radius: 0.75rem; /* 12px */

  font-size: 1.125rem; /* 18px */
}
