.button {
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-family: var(--title-font);
  font-weight: bold;

  &:disabled,
  &[aria-disabled='true'] {
    pointer-events: none;
    opacity: 0.4;
  }
}

.primary {
  border: none;
  color: var(--gray-90);
  background-color: var(--primary-50);

  &:hover:not(:disabled, [aria-disabled='true']) {
    background-color: var(--primary-20);
  }
}

.secondary {
  border: 1px solid white;
  color: white;
  background-color: transparent;

  &:hover:not(:disabled, [aria-disabled='true']) {
    border-color: transparent;
    background-color: var(--gray-60);
  }
}

.small {
  gap: var(--space-xs);

  /* TODO: Are the additional button sizes in the Results mocks intentional? */
  height: var(--button-height-sm);
  padding: 0 var(--space-md);

  /* TODO: Is the button's border-radius supposed to be responsive? */
  border-radius: 4px;

  font-size: var(--font-size-sm);
}

.medium {
  gap: var(--space-sm);

  height: var(--button-height-md);
  padding: 0 var(--space-lg);
  border-radius: 8px;

  font-size: var(--font-size-md);
}

.large {
  gap: var(--space-md);

  height: var(--button-height-lg);
  padding: 0 var(--space-lg);
  border-radius: 12px;

  font-size: var(--font-size-lg);
}
