.form {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.top-content {
  max-width: 580px; /* 10 times (50px button + 8px gap) */
}

.sup-title {
  margin-bottom: 1.25rem; /* 20px */
}

.title {
  margin-bottom: 3rem; /* 48px */
}

.rating {
  margin-bottom: 2.25rem; /* 36px */
}

.follow-up {
  display: flex;
  flex-direction: column;
  gap: 0.75rem; /* 12px */

  margin-bottom: 2.5rem; /* 40px */
  border: none;
}

.next {
  align-self: start;
}

.bottom-actions {
  display: flex;
  flex: 1;
  gap: 0.5rem; /* 8px */
  align-items: flex-end;
  justify-content: flex-end;

  padding-top: 1.5rem;
}
