.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-block {
  position: absolute;
  top: 0;
  right: 0;

  width: 30%;
  height: 40px;

  background-color: var(--primary-50);

  @media (width >= 1280px) {
    width: 50%;
  }
}

.page-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: var(--page-padding);
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 12px 80px;

  width: 70%;

  /* TODO: Should the horizontal padding be less than the page padding on wide
     screens, as in Figma? */
  padding: 32px var(--page-padding);

  color: white;
  white-space: nowrap;

  background-color: #1e1e1f;

  & a:hover {
    text-decoration: underline;
  }

  & .links {
    & a:hover {
      text-decoration: underline;
    }
  }

  @media (width >= 768px) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @media (width >= 1280px) {
    width: 50%;
  }
}
