.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-block {
  position: absolute;
  top: 0;
  right: 0;

  width: 30%;
  height: var(--space-2xl-fixed);

  background-color: var(--primary-50);

  @media (width >= 1280px) {
    width: 50%;
  }
}

.page-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: var(--page-padding);
}

.footer {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);

  width: 70%;

  /* TODO: Should the horizontal padding be less than the page padding on wide
     screens, as in Figma? */
  padding: var(--page-padding);

  color: white;
  white-space: nowrap;

  background-color: #1e1e1f;

  & a:hover {
    text-decoration: underline;
  }

  & .links {
    display: flex;
    list-style: none;

    & li:not(:last-child)::after {
      content: '\00a0|\00a0';
    }

    & a:hover {
      text-decoration: underline;
    }
  }

  @media (width >= 768px) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: var(--space-md-fixed);
    padding-bottom: var(--space-md-fixed);
  }

  @media (width >= 1280px) {
    width: 50%;
  }
}
