.title {
  margin-bottom: 40px;

  & mark {
    color: var(--primary-50);
    background: transparent;
  }
}

.description {
  margin-bottom: 40px;
}

.questionnaires {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
  justify-content: start;

  @media (width >= 768px) {
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    gap: 20px;
  }

  /* TODO: the gap mustn't grow beyond 24px on wide screens */
  @media (width >= 1024px) {
    gap: 24px;
  }
}

.card {
  width: 100%;
  max-width: 430px;
}
