.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background);
}

.header-block {
  position: absolute;
  top: 0;
  right: 0;

  width: 30%;
  height: 40px;

  background-color: var(--primary-50);
}

.main {
  flex: 1;
  padding: var(--page-padding);
}

.logo {
  margin-bottom: 64px;
}

.title {
  margin-bottom: 40px;

  & mark {
    color: var(--primary-50);
    background: transparent;
  }
}

.description {
  margin-bottom: 40px;
}

.questionnaires {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
  justify-content: start;

  @media (width >= 640px) {
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    gap: 20px;
  }

  /* TODO: the gap mustn't grow beyond 24px on wide screens */
  @media (width >= 1024px) {
    gap: 24px;
  }
}

.card {
  width: 100%;
  max-width: 430px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 12px 80px;

  width: fit-content;

  /* TODO: Should the horizontal padding be less than the page padding on wide
     screens, as in Figma? */
  padding: 32px var(--page-padding);

  color: white;

  background-color: #1e1e1f;

  @media (width >= 640px) {
    flex-direction: row;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
