.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

  /* TODO: fix the gap, which grows >24px on large screens */
  gap: var(--space-md);
  justify-content: start;

  @media (width >= 768px) {
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  }
}

.card {
  width: 100%;
  max-width: 430px;
}
